body {
    background-color: rgb(248, 247, 245);
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

a {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}


.search-form__img {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 247, 245);
    width: 20px;
    height: 10px;
    box-sizing: border-box;
}

.search-form {
    box-sizing: border-box;
    width: 250px;
    height: 35px;
    border-radius: 15px;
    background-color: rgb(248, 247, 245);
    display: inline-flex;
    border: 3px solid black;
    position: fixed;
    padding: 3px;
    justify-content: space-between;
    align-items: center;
    left: 950px;
    bottom: 950px;
    overflow: hidden;
    
}

.search-form__txt {
    box-sizing: border-box;
    background-color: rgb(248, 247, 245);
    border: none;
    outline: none;
}

.search-form__btn {
    box-sizing: border-box;
    background-color: rgb(248, 247, 245);
    border: none;
}

.content {
    margin-left: 250px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    flex: 1;
    padding: 20px;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo {
    margin-left: 34px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 5px;
    display: block;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.logo:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

aside {
    position: fixed;
    left: 10px;
    top: 10px;
    width:180px;
    height: 450px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 5px;
    display: block;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

a.button:hover {
    background-color: gray;
    transform: translateY(-2px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.upload-img {
    cursor: pointer;
    display: flex;
    width:60px;
    height: 40px;
    
}

.upload-btn {
    cursor: pointer;
    display: flex;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.upload-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.login-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #1e00ff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.login-btn:hover {
    background-color: rgb(0, 0, 175);
}