<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
    <a href="/login" class="login-btn">Войти</a>
    <div class="content">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="title">Название видео:</label><br>
            <input type="text" id="title" name="title" required><br><br>

            <label for="description">Описание:</label><br>
            <textarea id="description" name="description" rows="4" cols="50" placeholder="Введите описание..."></textarea><br><br>

            <label for="video">Файл видео:</label><br>
            <input type="file" id="video" name="video" accept="video/*" required><br><br>

            <button type="submit">Загрузить</button>
        </form>
    </div>


    
    <div class="aside">   
    <aside>
        <a href="/">
            <img class="logo" src="/static/img/gkvd.png" width="90" height="90" alt="Главная страница GDVDube">
        </a>

        <p><a href="/liking" class="button"
            style="
                width: 166px;
                height: 36px;
                border: 3px solid black;
                border-radius: 15px;
                padding: 5px;
                display: block;
                box-sizing: border-box;
                background-color: white;
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
                cursor: pointer;
                transition: all 0.3s ease;
                ">Понравившиеся   
        </a></p> 

        <p><a href="/settings" class="button"
            style="
                width: 114px;
                height: 34px;
                border: 3px solid black;
                border-radius: 15px;
                padding: 5px;
                display: block;
                box-sizing: border-box;
                background-color: white;
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
                ">Настройки
        </a></p>

        <p><a href="/info" class="button"
            style="
                width: 92px;
                height: 36px;
                border: 3px solid black;
                border-radius: 15px;
                padding: 5px;
                display: block;
                box-sizing: border-box;
                background-color: white;
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
                ">О сайте
        </a></p>

        <p><a href="/help" class="button"
            style="
                width: 92px;
                height: 36px;
                border: 3px solid black;
                border-radius: 15px;
                padding: 5px;
                display: block;
                box-sizing: border-box;
                background-color: white;
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
                ">Помощь    
        </a></p>

        <p><a href="/complaints" class="button"
            style="
                width: 94px;
                height: 36px;
                border: 3px solid black;
                border-radius: 15px;
                padding: 5px;
                display: block;
                box-sizing: border-box;
                background-color: white;
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
                ">Жалобы    
        </a></p>

        <p><a href="/channel" class="button"
            style="
                width: 130px;
                height: 36px;
                border: 3px solid black;
                border-radius: 15px;
                padding: 5px;
                display: block;
                box-sizing: border-box;
                background-color: white;
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
                ">Ваши видео   
        </a></p>
    </aside></div>
</body>
</html>